.header {
  flex-direction: column;
  place-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}
.search {
  width: 60%;
  height: 3rem;
  border-radius: 15rem;
  background-color: #3cbc8d;
  background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 3%;
  border: 2px solid black;
  text-align: center;
  font: 1.2em sans-serif;
  font-family: serif;
  font-weight: bold;
  text-emphasis-color: black;
}
.Allcard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  flex-direction: row;
}
.memberCard {
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  flex: 17%;
  padding: 5px;
  margin: 20px;
}
.profilepic {
  width: 10rem;
  height: 10rem;
}
h4 {
  font-size: 14px;
  margin: 2px;
  font-family: monospace;
}
h5 {
  margin: 5px;
  font-family: monospace;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.linktosite {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: row; */
}
.icon {
  margin: 3px;
  height: 20px;
  width: 20px;
}
